/.vscode
/.idea
/.DS_Store*

/01-basic/01-hello-world/Main.class
/01-basic/02-primitive/Main.class
/09-practice/empmanagement/.github
/09-practice/empmanagement/.mvn
/09-practice/empmanagement/.vscode
/09-practice/empmanagement/.idea
