/.vscode
/.idea
/.mvn
/.DS_Store*

/01-basic/01-hello-world/Main.class
/01-basic/02-primitive/Main.class

# =================== Spring Security ===================
/07-advanced/07-spring-security/handson-lab/security-configuration-app/.idea
/07-advanced/07-spring-security/handson-lab/security-configuration-app/.mvn
/07-advanced/07-spring-security/handson-lab/security-configuration-app/target

/07-advanced/07-spring-security/handson-lab/user-management-app/.idea
/07-advanced/07-spring-security/handson-lab/user-management-app/.mvn
/07-advanced/07-spring-security/handson-lab/user-management-app/target

# =================== SOLID Principles ===================
/08-solid-principles/payment-system/.mvn
/08-solid-principles/payment-system/target

# =================== Practice ===================
/09-practice/empmanagement/.github
/09-practice/empmanagement/.mvn
/09-practice/empmanagement/.vscode
/09-practice/empmanagement/.idea



